<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/style/login.css}">
    <title>Title</title>
    <meta charset="UTF-8">
</head>

<body>
<div class="login-checkUser">

    <form class="login" th:action="@{/login/checkUser}" method="post">
        <p>Авторизация</p>
        <div class="enterInput">
            <input type="text" placeholder="Логин" name="username">
        </div>
        <div class="enterInput">
            <input type="password" placeholder="Пароль" name="password">
        </div>
        <div class="enterInput">
            <input type="submit" value="Войти">
        </div>
    </form>
    <div class="failInput">
        <input type="text" th:if="${fail} == fail" style="visibility: visible;width: 260px "
               value="Неправильно введено имя или пароль" disabled>

        <input type="text" th:if="${failIsActive} == failIsActive" style="visibility: visible; width: 230px"
               value="Нет доступа для данного аккаунта" disabled>
    </div>
</div>
</body>
</html>