<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Security Example </title>
<!--    <link rel="stylesheet" th:href="">-->
</head>
<body>
<section>
    <div>
        <h1>Регистрация</h1>
        <form th:action="@{/registration/user/register}" method="post">
            <p class="pNameText " >Введите данные</p>
            <p></p>
            <input type="text" required placeholder="Имя пользователя" name="username">
            <input type="password" required placeholder="Пароль" name="password">
            <p class="submit"><input type="submit" value="Зарегестрироваться"><p>
        </form>
        <form method="get" th:action="@{/authorization}">
            <input type="submit" value="Авторизация" >
        </form>
    </div>
</section>
</body>
</html>