<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
</head>
<body>
<section class="container">
    <div class="registration">
        <form th:action="@{/registration/saveUser}" method="post">
            <p>Регистрация</p>
            <input type="text" class="enterInput" required placeholder="Логин" name="username">
            <input type="password" class="enterInput" required placeholder="Пароль" name="password">
            <div class="registrationButton">
                <input type="submit" class="enterInput" value="Зарегестрироваться">
            </div>
        </form>
        <form class="authenticationButton" method="get" th:action="@{/login}">
            <input type="submit" value="Авторизация">
        </form>
    </div>
    <div>
        <input type="text" th:if="${ThisUsernameAlreadyExists} == ThisUsernameAlreadyExists"
               style="visibility: visible;width: 260px " value="Такой логин уже есть" disabled>
    </div>
</section>
</body>
</html>