<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Security Example </title>
    <!--  <link rel="stylesheet" th:href="@{/css/styleauthorization.css}">-->
</head>
<body>
<section class="container">
    <div class="login">
        <h1>Регистрация</h1>
        <form th:action="@{/registration/saveUser}" method="post">
            <p class="pNameText ">Введите данные</p>
            <p></p>
            <input type="text" class="form-input" required placeholder="Логин" name="username">
            <input type="password" class="form-input" required placeholder="Пароль" name="password">
            <p class="submit"><input type="submit" class="header-button form-button" value="Зарегестрироваться">
            <p>
        </form>
        <form method="get" class="formAuthorization" th:action="@{/login}">
            <input type="submit" class="header-button form-button" value="Авторизация">
        </form>
        <div>
            <div>
              <input type="text" th:if="${ThisUsernameAlreadyExists} == ThisUsernameAlreadyExists" style="visibility: visible;width: 260px " value="Такой логин уже есть" disabled>
            </div>
</section>
</body>
</html>