<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>

</head>
<body>
<form th:action="@{/requester/getSOAPData}" method="get">
    <input type="text" name="sender" value="sender">
    <input type="text" name="iin" value="iin">
    <input type="text" name="firstName" value="firstName">
    <input type="text" name="lastName" value="lastName">
    <input type="text" name="patronymic" value="patronymic">
    <input type="text" name="content" value="content">
    <input type="text" name="externalAppName" value="externalAppName">
    <input type="submit">
</form>


</body>
</html>