<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<!--    <input  type="button" value="Load Request Form" id="buttonLoadRequest">-->
</div>
<div>
<!--    <table id="requestList">-->

<!--    </table>-->
<!--    <table class="requestTable">-->
<!--        <thead><tr><th>Id</th><th>Имя</th><th>Id request</th><th>Content</th><th></th></tr></thead>-->
<!--        <tbody>-->
<!--        </tbody>-->
<!--    </table>-->
</div>
<!--<script th:src="@{/script/pageRequest.js}">-->
<script th:src="@{}">
<!--    <script src="/static/script/pageRequest.js">-->
    // const xhr = new XMLHttpRequest();
    // xhr.open('GET','http://localhost:8080/Request')
    // xhr.send()
    //
    // getRequest();
    //     let listRequestJSON = listRequest.json();
    //     var html = '<tr>\n'+
    //         '<tr>'+
    //         '<tr>'+
    //         '<tr>'+
    //         '<tr>'+
    //         '<tr>';
    //
    // getRequest('http://localhost:8080/Request').then((data)=>
    //
    //     console.log(data))
</script>
</body>
</html>